extends ../default

block content
  include ../templates/nav
  div(class=['ui','container','grid','stackable'])
    div(class=['ten','wide','column'])
      h2(class=['ui','header','blue','dividing'])= 'Alterar Produtos'
      
      div(class='form-novoproduto')
        form(class=['ui','form'] action="http://localhost:3000/editar" method="POST")
          div(class=['ui','field'])
            label(for="nome")='Nome Produto'
            input(type="text" name="nome" value=produto.nome placeholder="Nome Produto")
          div(class=['ui','two','fields']) 
             div(class=['ui','field'])
               label(for="nome")='Preco'
               input(type="text" name="preco" value=produto.preco placeholder="Preco") 
             div(class=['ui','field'])
               label(for="nome")='Estoque'
               input(type="text" name="estoque" value=produto.estoque placeholder="Estoque") 
               input(type="hidden" name="id_produto" value=produto.id_produto placeholder="Estoque")
          button(class=['ui','button','basic','black'])='Alterar Produto'
          div(class=['ui','message','error'])
      

  script(src='/javascripts/validacion.js')